@model EFCore_Assignment_2.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h2>Create Student</h2>

<form asp-action="Create" method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Create</button>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}