<h1>Reactive Login Form Validation</h1>

<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>

  <!-- EMAIL -->

  <label>Email:</label>

  <input
    type="email"
    formControlName="email"
  >

  <div
    *ngIf="
      loginForm.get('email')?.invalid &&
      loginForm.get('email')?.touched
    "
  >

    <small>Email is invalid</small>

  </div>

  <br><br>

  <!-- PASSWORD -->

  <label>Password:</label>

  <input
    type="password"
    formControlName="password"
  >

  <div
    *ngIf="
      loginForm.get('password')?.invalid &&
      loginForm.get('password')?.touched
    "
  >

    <small>
      Password must be at least 6 characters
    </small>

  </div>

  <br><br>

  <button
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>

</form>