h1 {

  color: darkblue;

}

input {

  margin-left: 10px;

}

button {

  padding: 8px 15px;

  background-color: green;

  color: white;

  border: none;

  cursor: pointer;

}

div {

  border: 1px solid gray;

  padding: 10px;

  margin-top: 10px;

}