@model MVC_Assignment_2.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h2>Edit Student</h2>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        Name: <input asp-for="Name" /><br />
        Age: <input asp-for="Age" /><br />
        Email: <input asp-for="Email" /><br />

        <button type="submit">Update</button>
    </form>
</body>
</html>
